@import url(../base/reset.css);
@import url(../utilities/color.css);

.alert{
    border: 1px solid;
    border-radius: 4px;
    font-size: 1.25rem;
    padding: 0.5rem;
    overflow-wrap: anywhere; /* for responsiveness */
}

/* alerts - based on colors */
.alert-primary{
    color: var(--primary-800);
    border-color: var(--primary-800);
}

.alert-danger{
    color: var(--red-800);
    border-color: var(--red-800);
}

.alert-success{
    color: var(--green-800);
    border-color: var(--green-800);
}

.alert-info{
    color: var(--blue-800);
    border-color: var(--blue-800);
}

.alert-warn{
    color: var(--orange-600);
    border-color: var(--orange-600);
}

/* alert with icons */
.alert-icon{
    display: flex;
    align-items: center;
    flex-wrap: wrap; /* for responsiveness */
    gap: 0.5rem;
}

/* filled alerts - based on colors */
.alert-fill.alert-primary{
    background-color: var(--primary-800);
    color: var(--black-050);
}
.alert-fill.alert-danger{
    background-color: var(--red-800);
    color: var(--black-050);
}
.alert-fill.alert-warn{
    background-color: var(--orange-600);
    color: var(--black-050);
}
.alert-fill.alert-success{
    background-color: var(--green-800);
    color: var(--black-050);
}
.alert-fill.alert-info{
    background-color: var(--blue-800);
    color: var(--black-050);
}
