body {
  color: var(--black-600);
  scroll-behavior: smooth;
  overflow: hidden;
}

hr {
  color: var(--black-200);
}

.img-github {
  height: 1.5rem;
}

.navbar-doc {
  border-bottom: 2px solid var(--primary-900);
  z-index: 1;
  width: 100%;
  box-sizing: border-box;
}

.navbar-brand-doc {
  margin-bottom: 0;
  padding: 0 0.25rem;
  height: 45px;

}

.navbar-action-doc {
  padding: 0;
}

.btn-navbar-doc {
  border: 0;
  margin: 0;
  text-decoration: none;
}

.btn-navbar-doc:hover {
  background-color: var(--primary-050);
  color: var(--primary-900);
}

.navbar-menu-list-doc .list-item a,
.navbar-menu-list-doc .list-item a:visited {
  text-decoration: none;
  color: var(--primary-900);
}

.content {
  display: flex;
}

.sidenav {
  height: calc(100vh - 4.625rem);
  overflow-y: auto;
  flex-basis: 240px;
  flex-shrink: 0;
  box-shadow: 1px 1px 2px 1px var(--black-050);
}

.sidenav .list-group-stacked .list-item a {
  text-decoration: none;
  display: block;
  color: inherit;
  padding: 0.25rem 0.5rem;
  font-size: medium;
}

.sidenav-heading {
  padding: 0.25rem 1rem;
  margin: 0;
}

.sidenav-menu-btn {
  margin: 0;
  display: none;
  padding: 0.25rem;
}

.components {
  height: calc(100vh - 4.625rem);
  overflow-y: auto;
  padding: 0.5rem;
}

.component-details {
  padding: 0.5rem;
}

.component-description {
  margin-bottom: 4px;
}

.component-examples {
  padding: 0.5rem 0;
}

.component-demo {
  border: 1px solid var(--black-200);
  border-radius: 2px;
  margin: 1rem 0;
  padding: 2rem;
  height: fit-content;
}

.gist {
  width: 100%;
}

.gist-meta {
  display: none;
}

.scroll-to-top {
  display: none;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
}

.dialog-window {
  display: none;
}

.image-responsive {
  height: 12.5rem;
}

.snackbar {
  display: none;
  z-index: 2;
}

.grid-item {
  border: 1px solid var(--black-900);
  padding: 1rem;
}

@media screen and (max-width: 600px) {
  .navbar-menu-btn-doc {
    padding: 0.25rem;
  }

  .sidenav {
    display: none;
    position: absolute;
    width: 12.5rem;
    left: 0;
    z-index: 1;
    background-color: var(--black-inverted);
  }

  .sidenav-menu-btn {
    display: block;
  }

  .content {
    display: block;
  }

  .navbar-menu-list-doc {
    display: none;
  }
}
